

/* UNIVERSALS */

html, body {
    height:100%;
    width:100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(22,74,65);
    background: linear-gradient(90deg, rgba(22,74,65,1) 0%, rgba(77,119,78,1) 50%, rgba(157,200,141,1) 100%);
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover, a:visited {
    color: #fff;
}

body {
    height: 800px;
}
/* HEADER STYLES */

header {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav-links {
    float: right;
    font-family: 'Roboto', sans-serif;
    
}

li {
    list-style: none;
    display: inline;
}

#nav-links li {
   padding: 10px;
   background-color: #f1b24a;
   border-radius: 5px 5px 5px 5px;
}

.hero-text {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
}

#logo {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 25px;
}

/* MAIN BODY */

.hero {
    height: 500px;
    width: 100%;
    margin-top: -100px;
    background-image: url('../img/NewHero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}

.hero-text {
    color: #fff;
    height: 130px;
    width: 615px;
    padding: 120px 0 15px 0;
    margin-left: 31.5%;
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 4px #000;
}

hr {
    border-color: #000;
    margin-top: -2px;
}

.main-body {
    height: 500px;
    width: 100%;
    padding: 15px 10px 0 5px;
    text-shadow: 1px 1px 4px #000;
    margin-top: -10px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    
}
.main-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

#image1 {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-image: url('../img/homepage1.jpg');
    float: right;
    position: relative;
    margin-top: 10px;
    margin-right: 100px;
}

#image3 {
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: 700px; 
    margin-top: 10px;
    border-radius: 5px;
    background-image: url('../img/homepage3.jpg');
}

#image2 {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-image: url('../img/homepage2.jpg');
    margin-top: 10px;
    margin-left: 100px;
    position: relative;
}

#youtube-video {
    margin-left: 22%;
}

/* FOOTER SECTION */

footer {
    background: rgb(22,74,65);
    background: linear-gradient(90deg, rgba(22,74,65,1) 0%, rgba(77,119,78,1) 50%, rgba(157,200,141,1) 100%);
    color: #fff;
    height: 150px;
    width: 100%;
    position: relative;
}

.fa {
    font-size: 64px;
    padding: 0 12px;
    color:  #f1b24a;
}

#social-media {
    width: 100%;
    text-align: center;
    padding-top: 36px;
    
}

#copyright {
    text-align: center;
    margin-bottom: -15px;
    font-family: 'Roboto', sans-serif;
}