.navigation {
    text-align: center;
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
}

a {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

a:hover {
    text-decoration-color: white;
    color: white;
}

.footer {
    text-align: center;
    background-color: gray;
    border-radius: 5px;
}